@import 'tailwindcss';

html, body {
    scroll-behavior: smooth;
}

.heroSection {
    background-image: url('/heroBg.webp');
    background-size: cover;
    background-position: center;
}

@utility sectionh2 {
    @apply text-3xl md:text-4xl lg:text-5xl mb-3 md:mb-4 lg:mb-5;
}

@utility section {
    @apply w-full py-25 px-6 flex items-center justify-center;
}

@utility label {
    @apply flex flex-col gap-2 justify-center items-start;
}

@utility input {
    @apply border-1 border-[#e7e5e4] rounded-md w-full p-2;
}